[Unit]
Description=mountToServers
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /home/mecore/Desktop/timp/fastq-automation/systemdServiceFiles/mountToServers.sh
Restart=on-failure
RestartSec= 300

[Install]
WantedBy=default.target
